.u-section-1 .u-sheet-1 {min-height: 1128px}
.u-section-1 .u-text-1 {font-size: 6rem; font-weight: 700; margin: 30px 20px 0}
.u-section-1 .u-image-1 {width: 929px; height: 354px; margin: 30px auto 0}
.u-section-1 .u-text-2 {font-size: 1.5rem; font-weight: 400; margin: 56px 20px 106px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 16px; margin-right: 16px; position: relative}
.u-section-1 .u-image-1 {width: 766px; height: 292px}
.u-section-1 .u-text-2 {margin-left: 16px; margin-right: 16px; position: relative} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-1 .u-image-1 {width: 587px; height: 224px}
.u-section-1 .u-text-2 {margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {font-size: 3rem; margin-left: 9px; margin-right: 9px}
.u-section-1 .u-image-1 {width: 540px; height: 210px}
.u-section-1 .u-text-2 {margin-left: 9px; margin-right: 9px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {font-size: 2.25rem; margin-left: 6px; margin-right: 6px}
.u-section-1 .u-image-1 {width: 340px; height: 176px}
.u-section-1 .u-text-2 {margin-left: 6px; margin-right: 6px} }