.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/Feature_Image.png"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 1208px}
.u-section-1 .u-group-1 {min-height: 589px; height: auto; width: 847px; margin: 54px auto 0}
.u-section-1 .u-text-1 {margin: 22px 0 0}
.u-section-1 .u-text-2 {font-weight: 700; margin: 71px 0 1px}
.u-section-1 .u-btn-1 {padding: 16px 48px 17px 47px; background-image: none; font-weight: 700; font-size: 1.25rem; margin: 35px auto 0}
.u-section-1 .u-layout-wrap-1 {width: 1140px; margin: 38px auto 80px 0}
.u-section-1 .u-layout-cell-1 {min-height: 376px}
.u-section-1 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-text-3 {font-size: 1.5rem; margin: 35px 0 0}
.u-section-1 .u-text-4 {font-weight: 400; margin: 30px 0}
.u-section-1 .u-layout-cell-2 {min-height: 376px}
.u-section-1 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-text-5 {font-size: 1.5rem; margin: 35px 0 0}
.u-section-1 .u-text-6 {font-weight: 400; margin: 30px 0}
.u-section-1 .u-layout-cell-3 {min-height: 376px}
.u-section-1 .u-container-layout-4 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-text-7 {font-size: 1.5rem; margin: 35px 0 0}
.u-section-1 .u-text-8 {font-weight: 400; margin: 30px 0}
.u-section-1 .u-layout-cell-4 {min-height: 376px}
.u-section-1 .u-container-layout-5 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-text-9 {font-size: 1.5rem; margin: 35px 0 0}
.u-section-1 .u-text-10 {font-weight: 400; margin: 30px 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 823px}
.u-section-1 .u-group-1 {width: 698px}
.u-section-1 .u-container-layout-1 {padding-left: 60px; padding-right: 60px}
.u-section-1 .u-text-2 {font-weight: normal}
.u-section-1 .u-btn-1 {font-weight: normal; font-size: 1rem}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-layout-cell-1 {min-height: 471px}
.u-section-1 .u-container-layout-2 {padding-left: 0; padding-right: 0}
.u-section-1 .u-text-3 {font-size: 1.875rem; width: 141px; margin-left: auto; margin-right: auto}
.u-section-1 .u-text-4 {font-weight: normal; margin-right: 42px; margin-bottom: 45px; margin-left: 41px}
.u-section-1 .u-layout-cell-2 {min-height: 471px}
.u-section-1 .u-container-layout-3 {padding-left: 25px; padding-right: 25px}
.u-section-1 .u-text-5 {font-size: 1.875rem; margin-left: 16px; margin-right: 16px}
.u-section-1 .u-text-6 {font-weight: normal; margin-left: 16px; margin-right: 16px; margin-bottom: 35px}
.u-section-1 .u-layout-cell-3 {min-height: 471px}
.u-section-1 .u-container-layout-4 {padding-left: 25px; padding-right: 25px}
.u-section-1 .u-text-7 {font-size: 1.875rem; margin-left: 16px; margin-right: 16px}
.u-section-1 .u-text-8 {font-weight: normal; margin-left: 16px; margin-right: 16px; margin-bottom: 35px}
.u-section-1 .u-layout-cell-4 {min-height: 471px}
.u-section-1 .u-container-layout-5 {padding-left: 25px; padding-right: 25px}
.u-section-1 .u-text-9 {font-size: 1.875rem; margin-left: 16px; margin-right: 16px}
.u-section-1 .u-text-10 {font-weight: normal; margin-left: 16px; margin-right: 16px; margin-bottom: 35px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 1193px}
.u-section-1 .u-group-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-layout-cell-1 {min-height: 326px}
.u-section-1 .u-container-layout-2 {padding-left: 19px; padding-right: 19px}
.u-section-1 .u-text-3 {margin-left: 13px; margin-right: 13px; font-size: 2.25rem; width: 281px}
.u-section-1 .u-text-4 {margin-left: 13px; margin-right: 13px; margin-bottom: 35px}
.u-section-1 .u-layout-cell-2 {min-height: 326px}
.u-section-1 .u-container-layout-3 {padding-left: 19px; padding-right: 19px}
.u-section-1 .u-text-5 {margin-left: 13px; margin-right: 13px; font-size: 2.25rem}
.u-section-1 .u-text-6 {margin-left: 13px; margin-right: 13px}
.u-section-1 .u-layout-cell-3 {min-height: 326px}
.u-section-1 .u-container-layout-4 {padding-left: 19px; padding-right: 19px}
.u-section-1 .u-text-7 {margin-left: 13px; margin-right: 13px; font-size: 2.25rem}
.u-section-1 .u-text-8 {margin-left: 13px; margin-right: 13px}
.u-section-1 .u-layout-cell-4 {min-height: 326px}
.u-section-1 .u-container-layout-5 {padding-left: 19px; padding-right: 19px}
.u-section-1 .u-text-9 {margin-left: 13px; margin-right: 13px; font-size: 2.25rem}
.u-section-1 .u-text-10 {margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1914px}
.u-section-1 .u-container-layout-2 {padding-left: 14px; padding-right: 14px}
.u-section-1 .u-text-3 {margin-left: 9px; margin-right: 9px; width: 494px}
.u-section-1 .u-text-4 {margin-left: 9px; margin-right: 9px}
.u-section-1 .u-container-layout-3 {padding-left: 14px; padding-right: 14px}
.u-section-1 .u-text-5 {margin-left: 9px; margin-right: 9px}
.u-section-1 .u-text-6 {margin-left: 9px; margin-right: 9px}
.u-section-1 .u-container-layout-4 {padding-left: 14px; padding-right: 14px}
.u-section-1 .u-text-7 {margin-left: 9px; margin-right: 9px}
.u-section-1 .u-text-8 {margin-left: 9px; margin-right: 9px}
.u-section-1 .u-container-layout-5 {padding-left: 14px; padding-right: 14px}
.u-section-1 .u-text-9 {margin-left: 9px; margin-right: 9px}
.u-section-1 .u-text-10 {margin-left: 9px; margin-right: 9px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 2051px}
.u-section-1 .u-container-layout-1 {padding-left: 18px; padding-right: 18px}
.u-section-1 .u-text-1 {font-size: 3.75rem}
.u-section-1 .u-container-layout-2 {padding-left: 9px; padding-right: 9px}
.u-section-1 .u-text-3 {margin-left: 6px; margin-right: 6px; width: 310px}
.u-section-1 .u-text-4 {margin-left: 6px; margin-right: 6px}
.u-section-1 .u-container-layout-3 {padding-left: 9px; padding-right: 9px}
.u-section-1 .u-text-5 {margin-left: 6px; margin-right: 6px}
.u-section-1 .u-text-6 {margin-left: 6px; margin-right: 6px}
.u-section-1 .u-container-layout-4 {padding-left: 9px; padding-right: 9px}
.u-section-1 .u-text-7 {margin-left: 6px; margin-right: 6px}
.u-section-1 .u-text-8 {margin-left: 6px; margin-right: 6px}
.u-section-1 .u-container-layout-5 {padding-left: 9px; padding-right: 9px}
.u-section-1 .u-text-9 {margin-left: 6px; margin-right: 6px}
.u-section-1 .u-text-10 {margin-left: 6px; margin-right: 6px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 2821px}
.u-section-2 .u-text-1 {position: relative; font-weight: 700; margin: 15px 20px 0}
.u-section-2 .u-image-1 {width: 400px; height: 277px; margin: 39px auto 0 106px}
.u-section-2 .u-image-2 {width: 332px; height: 277px; margin: -277px 122px 0 auto}
.u-section-2 .u-line-1 {width: 912px; height: 3px; margin: 54px auto 0}
.u-section-2 .u-image-3 {width: 637px; height: 403px; margin: 15px auto 0}
.u-section-2 .u-line-2 {width: 912px; height: 3px; margin: 24px auto 0}
.u-section-2 .u-image-4 {width: 929px; height: 385px; margin: 402px auto 0 97px}
.u-section-2 .u-image-5 {width: 912px; height: 402px; margin: -772px auto 0}
.u-section-2 .u-line-3 {width: 912px; height: 3px; margin: 15px auto 0 114px}
.u-section-2 .u-line-4 {width: 912px; height: 3px; margin: 352px auto 0 114px}
.u-section-2 .u-image-6 {width: 912px; height: 180px; margin: 15px auto 0 106px}
.u-section-2 .u-line-5 {width: 912px; height: 3px; margin: 15px auto 0 106px}
.u-section-2 .u-image-7 {width: 912px; height: 141px; margin: 41px auto 0 106px}
.u-section-2 .u-line-6 {width: 912px; height: 3px; margin: 54px auto 0 106px}
.u-section-2 .u-image-8 {width: 524px; height: 245px; margin: 18px auto 0 300px}
.u-section-2 .u-line-7 {width: 912px; height: 3px; margin: 41px auto 0 106px}
.u-section-2 .u-image-9 {width: 288px; height: 300px; margin: 18px auto 41px 418px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 2406px}
.u-section-2 .u-text-1 {margin-left: 16px; margin-right: 16px}
.u-section-2 .u-image-1 {width: 330px; height: 228px; margin-left: 87px}
.u-section-2 .u-image-2 {width: 274px; height: 228px; margin-right: 101px}
.u-section-2 .u-line-1 {width: 752px}
.u-section-2 .u-image-3 {width: 525px; height: 332px}
.u-section-2 .u-line-2 {width: 752px}
.u-section-2 .u-image-4 {width: 766px; height: 317px; margin-left: 80px}
.u-section-2 .u-image-5 {width: 752px; height: 331px}
.u-section-2 .u-line-3 {width: 752px; margin-left: 94px}
.u-section-2 .u-line-4 {width: 752px; margin-left: 94px}
.u-section-2 .u-image-6 {width: 752px; height: 148px; margin-left: 87px}
.u-section-2 .u-line-5 {width: 752px; margin-left: 87px}
.u-section-2 .u-image-7 {width: 752px; height: 116px; margin-left: 87px}
.u-section-2 .u-line-6 {width: 752px; margin-left: 87px}
.u-section-2 .u-image-8 {width: 432px; height: 202px; margin-left: 247px}
.u-section-2 .u-line-7 {width: 752px; margin-left: 87px}
.u-section-2 .u-image-9 {width: 237px; height: 247px; margin-bottom: 0; margin-left: 345px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1597px}
.u-section-2 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-2 .u-image-1 {width: 253px; height: 175px; margin-top: 550px; margin-left: 67px}
.u-section-2 .u-image-2 {width: 529px; height: 458px; margin-top: 897px; margin-right: auto; margin-left: 72px}
.u-section-2 .u-line-1 {width: 576px; margin-top: 615px; margin-left: 72px}
.u-section-2 .u-image-3 {width: 463px; height: 341px; margin-top: 2811px; margin-left: 257px}
.u-section-2 .u-line-2 {width: 576px; margin-top: -2125px; margin-left: 56px}
.u-section-2 .u-image-4 {width: 587px; height: 243px; margin-top: -2950px; margin-left: auto}
.u-section-2 .u-image-5 {width: 576px; height: 254px; margin-top: 815px; margin-left: 72px}
.u-section-2 .u-line-3 {width: 576px; margin-top: 2606px; margin-left: auto}
.u-section-2 .u-line-4 {width: 576px; margin-top: 470px; margin-left: 67px}
.u-section-2 .u-image-6 {width: 576px; height: 114px; margin-top: 190px; margin-left: 67px}
.u-section-2 .u-line-5 {width: 576px; margin-top: 20px; margin-left: 67px}
.u-section-2 .u-image-7 {width: 576px; height: 90px; margin-top: -610px; margin-left: auto; margin-bottom: 1279px}
.u-section-2 .u-line-6 {width: 576px; margin-left: auto; margin-bottom: 790px}
.u-section-2 .u-image-8 {width: 331px; height: 155px; margin-left: 189px}
.u-section-2 .u-line-7 {width: 576px; margin-bottom: 406px; margin-left: 67px}
.u-section-2 .u-image-9 {width: 182px; height: 189px; margin-bottom: 41px; margin-left: 264px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 2821px}
.u-section-2 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-2 .u-image-1 {width: 237px; height: 164px; margin-top: 39px; margin-left: 50px}
.u-section-2 .u-image-2 {width: 197px; height: 164px; margin-top: -277px; margin-right: 58px; margin-left: auto}
.u-section-2 .u-line-1 {width: 540px; margin-top: 54px; margin-left: auto}
.u-section-2 .u-image-3 {width: 377px; height: 239px; margin-top: 15px; margin-left: auto}
.u-section-2 .u-line-2 {width: 540px; margin-top: 24px; margin-left: auto}
.u-section-2 .u-image-4 {width: 540px; height: 228px; margin-top: 402px; margin-left: 46px}
.u-section-2 .u-image-5 {width: 540px; height: 238px; margin-top: -772px; margin-left: auto}
.u-section-2 .u-line-3 {width: 540px; margin-top: 15px; margin-left: 54px}
.u-section-2 .u-line-4 {width: 540px; margin-top: 352px; margin-left: 54px}
.u-section-2 .u-image-6 {width: 540px; height: 107px; margin-top: 15px; margin-left: 50px}
.u-section-2 .u-line-5 {width: 540px; margin-top: 15px; margin-left: 50px}
.u-section-2 .u-image-7 {width: 540px; height: 83px; margin-top: 41px; margin-left: 50px; margin-bottom: 0}
.u-section-2 .u-line-6 {width: 540px; margin-left: 50px; margin-bottom: 0}
.u-section-2 .u-image-8 {width: 310px; height: 145px; margin-left: 142px}
.u-section-2 .u-line-7 {width: 540px; margin-bottom: 0; margin-left: 50px}
.u-section-2 .u-image-9 {width: 171px; height: 178px; margin-left: 198px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1751px}
.u-section-2 .u-text-1 {font-size: 3rem; margin-left: 5px; margin-right: 5px}
.u-section-2 .u-image-1 {width: 199px; height: 138px; margin-top: 20px; margin-left: 71px; margin-right: 0}
.u-section-2 .u-image-2 {width: 165px; height: 138px; margin-top: 20px; margin-left: 87px; margin-right: 0}
.u-section-2 .u-line-1 {width: 340px}
.u-section-2 .u-image-3 {width: 317px; height: 200px}
.u-section-2 .u-line-2 {width: 340px}
.u-section-2 .u-image-4 {width: 300px; height: 157px; margin-top: 26px; margin-left: auto}
.u-section-2 .u-image-5 {width: 314px; height: 131px; margin-top: 41px}
.u-section-2 .u-line-3 {margin-top: -166px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-line-4 {margin-top: 204px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-image-6 {height: 57px; width: 316px; margin-top: 32px; margin-left: auto}
.u-section-2 .u-line-5 {margin-top: 24px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-image-7 {width: 298px; height: 45px; margin-top: 26px; margin-left: auto}
.u-section-2 .u-line-6 {margin-top: 26px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-image-8 {width: 260px; height: 122px; margin-top: 20px; margin-left: auto}
.u-section-2 .u-line-7 {margin-top: 40px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-image-9 {width: 143px; height: 149px; margin-top: 24px; margin-left: auto; margin-bottom: 0} }